<div class="card">
  <div class="type">{{ type }}</div>
  <div class="img">
    <img src={{ img }} alt={{ title }}>
  </div>
  <div class="title">{{ title }}</div>
  <div class="description">{{ description }}</div>
  <div class="author">
    <a href={{ link }}>{{ author }}</a>
  </div>
</div>
